 {% for wl in pr %}
            <div class="text-center pt-8 pb-4">
                <img
                    src="{{ asset('images/' ~ wl.getImage()) }}" 
                    alt=""
                    class="mx-auto d-block shadow-xl rounded-md object-fill h-48 w-48"
                />

                <h2 class="text-center text-gray-700 font-bold text-3xl py-2">
                    {{ wl.getNomComplet() }}
                </h2>

                <span class="text-center text-gray-500">
                <span class="text-center italic text-sm text-gray-800"> {{ wl.getPeriodeDeDisparition().format('y-m-d') }}
                </span>
                <div>
                <span class="text-center text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ wl.getVilleEtLieuDeDisparition() }}
                </span>
                </div>
                <a href="{{ path('details', {'id': wl.id }) }}" class="text-center uppercase btn btn-outline-success my-2 my-sm-0">
                     plus de détails
                </a>
            </div>
        {% endfor %}