<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">

        {{ form_start(form) }}
            {{ form_row(form.CIN_ou_num_passeport) }}
            {{ form_row(form.Nom_complet) }}
           
            {% for child in form.type_declaration %}
         <div class="currency-label">
             {{- form_widget(child) -}}
             {{- form_label(child, null) -}}
         </div>
     {% endfor %}
            {{ form_row(form.Ville_actuelle) }}
            {{ form_row(form.Num_telephone) }}
             {{ form_row(form.Adresse) }}
             {{ form_row(form.suivant) }}
        {{ form_end(form) }}
             
            </div>
        </div>
    </body>
</html>