{% extends 'base.html.twig' %}

{% block title %}Formulaire de declarant
{% endblock %}
{% block main %}{% endblock %}
{% block containte %}
	<br/>
	<h2>Formulaire de TEMOIGNAGE</h2>
	<br/>
	<div>
		{{ form_start(form) }}
		{{ form_row(form.CIN_ou_num_passeport) }}
		{{ form_row(form.Nom_complet) }}
		{{ form_row(form.Type_temoignage) }}
		{# {{ form_row(form.Num_declaration) }} #}
		{{ form_row(form.suivant) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block foot %}{% endblock %}
